<p>
    This macro and calorie setter is designed for people who are already experienced dieters and aware of their body. This includes things like knowing your <a href="https://en.wikipedia.org/wiki/Basal_metabolic_rate" target="_blank">TDEE</a>, <a href="https://en.wikipedia.org/wiki/Insulin_resistance" target="_blank">insulin sensitivity</a>, as well as ideal macro breakdown.
</p>
<h2>Instructions</h2>
<p>You can set either your total calories or macros per gram. If you set total calories it will automaticaly adjust your macros based on percentage. If you change any of the macros then it will adjust the percentage and the total calories</p>


<div class="row">
    <div class="col-md-7 col-md-push-5">
        <div [hidden]="hasPercentError()">
            <canvas baseChart
                    [(data)]="chartData"
                    [labels]="chartLabels"
                    [chartType]="'pie'"
            >
            </canvas>
        </div>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <div class="row">
            <div class="col-md-12 text-danger" *ngFor="let error of errors">{{ error.message }}</div>
        </div>
        <form>
            <label for="totalCalories">Total Calories (kcal)</label>
            <input type="number" [ngModel]="totalCalories | round" class="form-control number" (ngModelChange)="totalCalories = $event" name="totalCalories" (change)="onTotalCaloriesChange()"/>
            <label for="carbs-grams">Carbs (grams)</label>
            <input type="number" class="form-control number" [ngModel]="carbs.grams | round" (ngModelChange)="carbs.grams = $event" name="carbs-grams" (change)="onMacroGramsChange()"/>
            <label for="protein-grams">Protein (grams)</label>
            <input type="number" class="form-control number" [ngModel]="protein.grams | round" (ngModelChange)="protein.grams = $event" name="protein-grams" (change)="onMacroGramsChange()"/>
            <label for="fat-grams">Fat (grams)</label>
            <input type="number" class="form-control number" [ngModel]="fat.grams | round" (ngModelChange)="fat.grams = $event" name="fat-grams" (change)="onMacroGramsChange()"/>

            <div class="form-group" [ngClass]="{'has-error' : hasPercentError()}">
                <label for="carbs-percent">Carbs (percent)</label>
                <input type="number" class="form-control number" [ngModel]="carbs.percent | round" (ngModelChange)="carbs.percent = $event" name="carbs-percent" (change)="onMacroPercentChange()"/>
                <label for="protein-percent">Protein (percent)</label>
                <input type="number" class="form-control number" [ngModel]="protein.percent | round" (ngModelChange)="protein.percent = $event" name="protein-percent" (change)="onMacroPercentChange()"/>
                <label for="fat-percent">Fat (percent)</label>
                <input type="number" class="form-control number" [ngModel]="fat.percent | round" (ngModelChange)="fat.percent = $event" name="fat-percent" (change)="onMacroPercentChange()"/>
            </div>
        </form>
    </div>
</div>